<footer>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a href="#">DDCM Version 1.01</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li><a href="#" class="nav-link">Status</a></li>
                <li><a href="#" class="nav-link">Privacy & Terms</a></li>
                <li><a href="#" class="nav-link">Contact Us</a></li>
                <li><a href="#" class="nav-link">English</a></li>
            </ul>
        </div>
    </nav>
</footer>