<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="index.html" class="navbar-brand">DDCM</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ml-auto">
                <li><a href="#" class="nav-link">Welcome Admin</a></li>
                <li><a href="#" class="nav-link">Sign Out</a></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#myNav2"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="mainNav2">
            <ul class="navbar-nav">
                <li><a href="meetings.html" class="nav-link">Meetings</a></li>
                <li><a href="#" class="nav-link">Calender</a></li>
                <li><a href="#" class="nav-link">Document Library</a></li>
                <li><a href="#" class="nav-link">Admin Tools</a></li>
                <li><a href="#" class="nav-link">My Profile</a></li>
                <li><a href="#" class="nav-link">Help</a></li>
            </ul>
        </div>
    </nav>
</header>