.meetings {
    .search-box {
        position: relative;
        i.fa.fa-search {
            position: absolute;
            top: 11px;
            right: 13px;
        }
    }

    main {
        height: calc(100vh - 222px);
    }
}